@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%!important;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ffffffee;

}

header ul {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}

header ul li a {
    color: #744919;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

header ul li a:hover {
    color: #ff7900;
}

header .icon-2 {
    display: grid;
    place-items: center;

}

header .icon-1 img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
}

.sec-1 {
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url(/images/beeceeper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-1 h2 {
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 70px;
}

.sec-2 {
    display: grid;
    grid-template-rows: 100px 1fr;
    place-items: center;
    width: 100%;
    height: 90vh;

}

.sec-2 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 3rem;
}

.sec-2 ul li a img {
    width: 310px;
    height: 310px;
}

.sec-2 ul li {
    display: grid;
    grid-template-rows: 1fr 50px;
    place-items: center;
    gap: 2rem;
    padding: 4rem;
}

.sec-2 ul li a.button {
    padding: 10px;
    width: 310px;
    color: #ff7900;
    background-color: #ffffff;
    border: solid 1px #ff7900;
    border-radius: 5px;
    text-align: center;
}

.sec-2 ul li a.button:hover {
    color: #ffffff;
    background-color: #ff7900;
    border: solid 1px #ffffff;
}

.vidio iframe {
    width: 95%;
    margin: 2.5%;
}

.sec-3 {
    margin-left: 5%;
}


footer {
    background-image: url("/images/footer-background.jpg");
    width: 100%;
    height: 500px;
    padding: 2rem;
    
    background-size: 100% 500px;

    z-index: 11;
}

footer nav ul {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    margin-bottom: 400px;
}

footer nav ul li a {
    color: #ffffff;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

footer span {
    color: #ffffff;
}

footer nav ul li a:hover {
    color: #ff7900;
}

.about-main {
    margin: 0 2rem;
}

.page-title {
    width: 100%;
    height: 185px;
    /* margin-left: 2.5%; */
    background-color: #fdbb30;
    display: grid;
    place-items: center;
}

.page-title h1 {
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
}

main .section-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    width: 100%;
    place-items: start center;
    margin-top: 3rem;
}

main .section-1 .blog-text {
    font-family: 'Roboto', sans-serif;
    padding: 0 60px;
    position: static;
}

main .section-1 .blog-text h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #232323;
    text-align: center;
}

main .section-1 .blog-text p {
    color: #232323;
    text-align: justify;
    margin: 15px 0 ;
    line-height: 22px;
}

main .section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 500px;
    place-items: center;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}

.contact .contact-form {
    width: 100%;
    height: 700px;
    padding: 2rem;
}

.contact .contact-form form {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
}

.contact .contact-form form label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 550;
    margin-top: 20px;
}

.contact .contact-form form input {
    padding: 10px;
    border: #000000 solid 1px;
}

.contact .contact-form form textarea {
    padding: 10px;
    border: #000000 solid 1px;
}

.contact .contact-form form .submit {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 550;
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    border: #ffffff;
    border-radius: 5px;
    width: 250px;
    
}

.contact .contact-form form .submit:hover {
    background-color: #ffffff;
    color: #000000;
    border: #000000 solid 1px;
}

.contact .contact-details {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    place-items: start center;
}

.contact .contact-details .contact-address {
    background: #262624;
    color: #fff;
    padding: 30px;
    position: relative;
    z-index: 1;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
}

.contact .contact-details .contact-address:before {
    content: '';
    width: 50%;
    height: 75%;
    display: block;
    background: url(/images/pattern-sm.png) no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -15%;
    right: -10%;
    z-index: -1;
}

.contact .contact-details .contact-address h4 {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 700;
    margin-bottom: 22px;
}

.contact .contact-details .contact-map iframe {
    height: 300px;
    padding: 2rem;
}

.checked {
    color: orange;
  }

.shop-section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start center;
    margin: 80px 0 80px 0;
}

.shop-section-1 img {
    width: 500px;
    height: 410px;
    padding: 0px 40px 0px 40px;
}

.shop-section-1 .shop-section-text {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    font-family: 'Roboto', sans-serif;
}

.shop-section-1 .shop-section-text .shop-section-text-header h2 {
    font-size: 38px;
    margin-bottom: 10px;
    color: #232323;
}

.shop-section-1 .shop-section-text .price {
    font-size: 26px;
    font-weight: 200;
    font-family: 'Roboto', Arial, sans-serif;
    color: #232323;
}

.shop-section-1 .shop-section-text .shop-section-text-discription h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #232323;
}

.shop-section-1 .shop-section-text .shop-section-text-discription p {
    padding-right: 30px;
    color: #232323;
}

.shop-section-1 .shop-section-text .shop-section-text-buy form {
    display: grid;
    grid-template-columns: 150px 150px;
    place-items: start center;
}

.shop-section-1 .shop-section-text .shop-section-text-buy form input {
    border: solid 1px #232323;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.shop-section-1 .shop-section-text .shop-section-text-buy form input.add {
    border: solid 1px #ffffff;
    padding: 10px;
    background-color: #232323;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.shop-section-1 .shop-section-text .shop-section-text-buy form input.add:hover {
    border: solid 1px #232323;
    background-color: #ffffff;
    color: #232323;
}